@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

body{font-size: 110%;
}
/*começo da pagina*/
.cabecalho{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-around;
    padding: 19px;
    background-image:url(./Imagens2/Fruta_Principal.jpg);
    background-size:cover; 
    background-position: center -900px ;
    background-repeat: no-repeat;
    border-radius: 1000pc 900px;
}
/*imagem da logo da maça*/
.imagem-logo{
    height: 100px;
    width: 100px;
    padding: 4px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 40pc;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
/*Termino */

/*navegação de guias*/
.cabeçalho-menu{
  display:flex;
  gap: 2cm;
  box-sizing:border-box;
  padding: 10px 100px;
}

/*palavras que são as guias no cabecalho*/
.cabeçalho-menu-item{
  align-items: center;
  font-family: "Comfortaa", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 400px;
  border: 2px solid rgb(7, 8, 50);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 7px 7px 7px 7px;
}

/*Animação do botão logo*/

.imagem-logo {
    transition: transform 1.0s ease;
}
/*Termino*/

/*Animação do cabeçalho botao item*/
.cabeçalho-menu-item {
    transition: transform 1.0s ease;
}
/*Termino*/

/* Fim menu pagina*/
.contatoComentario{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 150px;
    background-image: url(./fotoshortfruit/campo-de-grama-textura.jpg);
  
}

.contatoComentario{
    height: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
}

.contatoDivInput{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.comentarioButton{
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: space-between;  
}


.contatoDivComentario{
    height: 100%;
    width: 80%;      
}

.contatoInputComentario{
    height: 100px;
    width: 100%;
}

.contatoInputNome{
    width: 100%;
}

.contatoInputEnviar{
    width: 200px;
    height: 50px;
}

.contatoDivComentario{
    display: flex;
    flex-direction: column;
    padding: 30px;      
}

.contatoDivComentarioComentario{
    border-bottom: rgb(255, 255, 255) 1px solid;
}


.contatoDivComentarioNome{
    margin-top: 10px;
}

.contatoInputNome, .contatoInputComentario{
    outline: none;
}

/* .footer{
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;
} */

